 <!-- START ROW -->
<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4">Liste des utilisateurs</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Tél</th>
                                <th scope="col" colspan="2">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of employerData">

                                <td>{{row.prenom}}</td>
                                <td>{{row.nom}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.adresse}}</td>
                                <td>{{row.tel}}</td>
                                <td>
                                    <div class="btn-toolbar">
                                        <button type="button" class="btn
                                            btn-primary mr-1">Edit</button>
                                        <button type="button" class="btn
                                            btn-danger btn-sm">Supprimer</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- END ROW -->
