<app-topbar></app-topbar>

<app-header></app-header>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <!-- end page-title -->




            <!-- end row -->



            <app-list-agent></app-list-agent>

        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->

    <footer class="footer">
        ©2021 Jassa <span class="d-none d-sm-inline-block"> - Love <i class="mdi
                mdi-heart text-danger"></i> YahyalBarmaki</span>.
    </footer>

</div>



<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


<!-- END wrapper -->